header.banner 
  nav.container-banner
    a(href='/')
      picture 
        img(src='./img/ipsum.png')
    ul.navigation-middle
      li
        a(href='/') Home
      li
        a(href='#company') Company
      li
        a(href='#blog') Blog
    div.navigation-right
      a(href='/post') Post a Job
      button Log in 
    div.mobile-menu
      img(src="img/mobile/menu.png", alt="")