section.footer
  div.container-footer
    a(href='/')
      picture 
        img(src='../img/ipsum.png')
    div.footer-layout
      div.footer-navigation-wrapper
        p PAGES
        a(href='/') Home
        a(href='#company') Company
        a(href='#blog') Blog
      div.footer-form-wrapper
        p SIGN UP TO OUR NEWSLETTER
        form
          input(type="email" placeholder='Email address')
          button Get Started