section.section-3
  div.container-regular-3
    div.container-regular-3-title
      div.mobeile-detail TESTIMONIAL
      h3 See what users say about our job platform
    div.section-3-carousel
      div.mobile-img
        img(src="../img/mobile/monkey.png", alt="")
      div.section-3-slider-mask
        div.testimonial-content-wrap
          p.section-3-paragraph-1 “Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a mi rhoncus, pharetra leo et, efficitur tortor. Fusce vel convallis magna”
          p.section-3-paragraph-2 David Sinclair - Senior Frontend Developer
        picture 
          img(src='../img/section3/photo.png')
      div.buttons-group-3
        div
          button
            img.button-img(src=`./img/buttons/previous.png`)
        div
          button
            img.button-img(src=`./img/buttons/next.png`) 