- var i = 0;
section.section-2
  div.container-regular-2
    div.photo-wrap
      picture 
        img(src='../img/section2/photo.png')
      div Partnership with Glassdoor and LinkedIn
    div.mobile-detail WHY CHOOSE US
    div.section-2-content
      h3 Build a custom membership site with locked content.
      p.section-2-content-paragraph Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a mi rhoncus, pharetra leo et, efficitur tortor. Fusce vel convallis magna, sit amet pulvinar diam. Sed laoreet feugiat consequat.
      div.feature-content-layout
        while i < 3
          div.feature-content-block
            div.icon-layout
              picture 
                img(src='../img/section2/icon.png')
            div
              p.section-2-block-header Add a feature point here
              p.section-2-block-paragraph Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              - i++



    
    